Package: my-first-ppa-pkg
Version: 1.0-0ubuntu1~ppa1
Architecture: all
Maintainer: owaishanif <owaishanif786@gmail.com>
Installed-Size: 10
Depends: bash (>= 2)
Section: utils
Priority: extra
Description: Say hello using first ppa pkg
 Long lines of description. Each line start with space.
 .
 After dot shows that there is new paragraph
